/* Button color : #3D7973 */
/* paragraph color : #FCFDFD */

/* ------------------------------------------------------------- Universal Styling Start --------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* font-size : percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* -------------------------------------------------------------Universal Styling End --------------------------------------------- */
.header-full {
  background-color: #234e53;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 3.4rem;
  color: #fff;
  padding: 4.8rem 4.8rem;
}

.main-nav-link {
  text-decoration: none;
  color: #fff;
}
.header-heading {
  font-size: 4rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.main-nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  font-size: 2.4rem;
  gap: 3.5rem;
}

/* -------------------------------------------------------------Slider Hero Section Start --------------------------------------------- */

.btn-mobile-nav{
  border: none;
  cursor: pointer;
  background: none;

}


.icon-mobile-nav{
  height: 4.8rem;
  width: 4.8rem;
  color: white;
  display: none;

}

.icon-mobile-nav-close{
 display: none;

}
/* -------------------------------------------------------------Slider Hero Section End --------------------------------------------- */

/* -------------------------------------------------------------Hero Section Start --------------------------------------------- */
.full-width {
  width: 100%;
  height: 80vh;
  background-color: #234e53;
}

.slider-box {
  margin-top: 10rem;
  display: flex;
  gap: 4.8rem;
}

.slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
}

.slider-img {
  width: 50%;
}

.slider-description {
  font-size: 1.8rem;
  line-height: 2.5rem;
  color: #fcfdfd;
}

.heading-primary {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 5.2rem;
}

.indicators {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
}

.indicators span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

/* #slider {
  width: 100%;
  display: inline-flex;
  transition: 0.7s;
} */

.active {
  background: #3d7973 !important;
}
/* -------------------------------------------------------------Hero Section End --------------------------------------------- */
/* (A) OUTER CONTAINER */
.hwrap {
  /* (A1) DIMENSIONS */
  width: 100%;
  height: auto;
  /* (A2) COSMETICS */
  overflow: hidden; /* HIDE SCROLLBARS */
  position: relative;
}

/* (B) MIDDLE CONTAINER - FLEX LAYOUT */
.hmove {
  display: flex;
  position: relative;
  top: 0;
  right: 0;
}

/* (C) SLIDES - FORCE INTO ONE LONG HORIZONTAL ROW */
.hslide {
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 10px;
}

/* (D) SLIDE ANIMATION */
@keyframes slideh {
  /* (D0) THE IDEA - USE KEYFRAMES TO SHIFT SLIDES *
  0% { right: 0; }
  33% { right: 100%; }
  66% { right: 200%; }
  100% { right: 0; }
 
  /* (D1) BUT THE ABOVE WILL SHIFT NON-STOP */
  /* SO WE ADD PAUSES BETWEEN EACH SLIDE */
  0% {
    right: 0;
  }
  30% {
    right: 0;
  }
  33% {
    right: 100%;
  }
  63% {
    right: 100%;
  }
  66% {
    right: 200%;
  }
  97% {
    right: 200%;
  }
  100% {
    right: 0;
  }
}
.hmove {
  animation: slideh linear 15s infinite;
}
.hmove:hover {
  animation-play-state: paused;
}
/* -------------------------------------------------------------Button Start--------------------------------------------- */

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  border-radius: 5px;
  padding: 1.6rem 3.2rem;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #3d7973;
}

.btn--full:hover,
.btn--full:active {
  background-color: #234e59;
}

.btn--service:link,
.btn--service:visited {
  color: #3d7973;
  padding: 0;
  font-size: 1.8rem;
}

.btn--service:hover,
.btn--service:active {
  color: #3d7973;
}
/* -------------------------------------------------------------Button End--------------------------------------------- */

/* ---------------------------------------SERVICES--------------------------------------------------------------------- */
.service {
  margin-top: 7.6rem;
}
.heading-secondary {
  margin-top: 2rem;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  color: #3d7973;
}
.service-img {
  width: 15%;
}

.our-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  row-gap: 3rem;
}

.our-service {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.8rem;
  padding: 2.8rem;
  box-shadow: 1rem 0px 2rem 2.4rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}

.our-service:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.service-details {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 3.6rem;
}
.read-more {
  align-items: center;
}

/* -----------------------------------------------------------------------Service End Details--------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------PORTFOLIO Details--------------------------------------------------------------------------- */
.portfolio-details {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 200;
  margin-bottom: 3.6rem;
}

.tertiary-heading {
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.service-description {
  font-size: 1.8rem;
}

.our-portfolios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1.5rem;
  margin: 0 auto;
}

.our-portfolio:hover {
  transform: translateY(-1.2rem);
}

.portfolio-img {
  width: 98%;
  border-radius: 2rem;
}

.center-text {
  margin: 6.6rem;
  text-align: center;
}

/* ----------------------------------------------- Contact Us Section (Start)----------------------- */
.contact-form-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4.6rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.heading-secondary-contact-us {
  text-transform: uppercase;
  font-size: 3.4rem;
  color: #3d7973;
  margin-bottom: 3.2rem;
}
.btn-send {
  color: #fcfdfd;
  background-color: #3d7973;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #3d7973;
  border: none;
  border-radius: 3rem;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.contact-form input::placeholder {
  /* padding: 3.2rem; */
  color: #3d7973;
}

.contact-form *:focus {
  outline: none;
}

.map {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

/* ----------------------------------------------- Contact Us Section (End)----------------------- */
/* ----------------------------------------------- Contact Us Section (Start)----------------------- */

.about-us-section {
  background-color: #234e53;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  margin: 0;
  padding: 9rem;
}

.heading-secondary--about-us {
  text-align: left;
  margin: 0;
}

.about-us-description {
  color: #fff;
  font-size: 1.8rem;
  line-height: 2.8rem;
  align-items: center;
}
.about-us-box {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.about-us-img {
  align-items: flex-start;
}
/* ----------------------------------------------- Contact Us Section (End)----------------------- */

/* ----------------------------------------------- Footer Section (Start)----------------------- */
.full-width-footer {
  background-color: #234e53;
  margin-top: 9.6rem;
  height: 40rem;
}

/* ----------------------------------------------- Footer Section (End)----------------------- */
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}
.grid--5-cols {
  grid-template-columns: 1fr 1fr 0.7fr 0.7fr 1.6fr;
}

.footer {
  margin-top: 9.6rem;
  padding: 9.6rem 0;
  background-color: #234e53;
  color: #fff;
}
.footer-heading {
  font-size: 2.4rem;
  font-weight: 450;
  margin-bottom: 3.2rem;
}
.heading-secondary-footer {
  font-size: 4rem;
  margin-bottom: 3.2rem;
  letter-spacing: 0.5rem;
}
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.4s;
}

.footer-link:hover,
.footer-link:active {
  color: #3d7973;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
.social-icon {
  height: 3.4rem;
  width: 3.4rem;
}

.copyright {
  font-size: 1.4rem;
  margin-top: auto;
}

.logo-col {
  display: flex;
  flex-direction: column;
  gap: 3.4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
}
.address {
  margin-bottom: 2.4rem;
  display: flex;
  flex-direction: column;
}
.address-box {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}
.about-us-footer-description {
  font-size: 1.8rem;
  color: #fff;
  line-height: 2.5rem;
}
